<!DOCTYPE css>
text-align:center;
*{
img {
min-height: 200px;
border:1px solid #000;
transform-origin:0 0 ;
transform:translateX(-100%) skewX(-45deg);
}
.emailBtn:hover:before {
top: 0; left: 0;
width: 130%; height: 100%;
}
}

.emailBtn{

#categories li h1{
padding:0;




margin:0 auto;   
font-family: 'Amatic', sans-serif;
font-family: 'Open Sans', arial, sans-serif;

#categories div h1, #categories div p{
transform: translateX(0) skewX(-45deg);

.emailBtn:before {
position:fixed;
}
overflow:hidden;



.emailBtn:hover {
transition: color .5s;
}

body{
text-decoration:none;
background:rgb(208, 226, 220);
content: '';
font-weight:normal;
}
margin:1%;
z-index: -1;
}
top:0;
transition: transform .5s;
right:0;
color: #fff;
padding:.5em .7em;

#categories li img{
font-style:italic;
}
background: #000;
position: absolute;
margin:0;
color:#000;
}
}
color:#fff;
font-size:1.5em;

#categories li > div{
    background-color:#008080; background-color: rgba(0, 128, 128, 0.8);

}
overflow:hidden;